<html>
        <head>
                <title>Editing article</title>
        </head>

        <body>
                <h1>Edit an existing article</h1>
                <% form_for(@article) do |f| %>
		<p> <%= f.error_messages %> </p>
                <p>
                        <%= f.label :title %> <br />
                        <%= f.text_field :title %>
                </p>
                <p>
                        <%= f.label :content %> <br />
                        <%= f.text_area :content %>
                </p>
                <p>
                        <%= f.submit 'Save' %>
                </p>
               <% end %>
	       <%= link_to 'Cancel', @article %>
        </body>
</html>

